html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.spinner-merge:after,
.spinner-merge:before {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 100%;
  opacity: 0.75;
  position: absolute;
  -webkit-transform-origin: -200% -80%;
  transform-origin: -200% -80%;
}
.spinner-merge:before {
  -webkit-transform-origin: 200% 80%;
  transform-origin: 200% 80%;
}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}
